<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CookMaster"
        tools:targetApi="31"
        >
        <activity
            android:name=".article.EditArticleActivity"
            android:exported="false" />
        <activity
            android:name=".authenticate.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".article.MyArticleActivity"
            android:exported="false" />
        <activity
            android:name=".article.FavoritArticleActivity"
            android:exported="false" />
        <activity
            android:name=".authenticate.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".article.FeedbackArticleActivity"
            android:exported="false" />
        <activity
            android:name=".authenticate.RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".authenticate.LoginActivity"
            android:exported="false"/>

        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.CookMaster.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".article.ArticleByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".category.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".article.DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name=".article.ImpressArticleActivity"
            android:exported="false" />
        <activity
            android:name=".article.CreateArticleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>